:root {
  --primary-color: #13538f;
  --secondary-color: #13538f;
  --header-padding-y: 1rem;
  --header-logo-height: 50px;
  --header-logo-width: 50px;
  --header-total-height: calc((var(--header-padding-y) * 2) + var(--header-logo-height));
}

.header {
  background-color: var(--primary-color);
  color: white;
  font-weight: 500;
  font-size: medium;
  text-align: left; 
  padding: var(--header-padding-y);
  display: flex;
}

.header h1 {
  padding-left: 1rem;
  margin: 0;
  align-self: center;
}

.profile {
  position: fixed;
  right: 0;
  padding-right: 2rem;
  display: flex;
}

.profile-icon {
  align-self: center;
  padding-right: .5rem;
}

.header .logo {
  align-self: center;
  height: var(--header-logo-height);
  width: var(--header-logo-width);
}

.navBarContainer {
  background-color: var(--primary-color);
  height: -webkit-fill-available;
  width: 10rem;
  display: grid;
  position: absolute;
}

.navBar {
  size: 5rem;
  display: grid;
  position: absolute;
  background-color: var(--primary-color);
  width: 10rem;  
}

.navItem {    
  font-size: medium;
  font-weight: 400;  
  height: 4rem;
  padding-left: 1rem;
}

.navItem a {
  color: white;
  text-decoration: none;
  height: 4rem;
  align-content: center;  
  vertical-align:middle;
  display: inline-grid;
  padding-left: 8px;
}

.navItem :hover {
  color: lightblue;
}

.pageContainer {
  margin-left: 10rem;
}

.page {
  display: grid;
}

.sampleContent {
  padding-left: 2rem;
}